@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --verde-claro: rgb(96, 108, 56);
  --verde: rgb(40, 54, 24);
  --verde-transparente: rgba(253, 253, 253, 0.349);
  --naranja-claro: #DDA15E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", Arial, Arial, Helvetica;
  }
  
  header.header-basic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(40, 67, 40);
    z-index: 2;
  }
  
  body {
    line-height: 1.5;
    font-family: "Poppins", "Montserrat";
    max-width: 100svw;
  }
  
  .header-content {
    width: 100%;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
  }
  
  /*Parte principal de la pagina donde se encuentra el logo y el nombre de la pagina*/
  
  .logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo h1 b {
    color: white;
  }
  
  /*Menu de la pagina principal*/
  
  .menu {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu nav ul {
    display: flex;
    list-style: none;
  }
  
  .menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }
  
  
  .menu nav ul li a {
    color: #f0eded;
    transition: color 300ms;
  }

  
.footer {
  background-color: rgb(40, 67, 40);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.card3 {
  display: grid;
  grid-column: 1 / 3;
}

.contenido > p {
  -webkit-line-clamp: 3;
  font-size: 1.1rem;
  line-clamp: 2;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}


.container2 {
  max-width: 1100px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}