@import url("basic.css");

.container{
    width: 100%;
    height: 100vh;
    background-image: url('/public/img/bg-dahboard.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: .7fr 1.5fr;
    place-items: center bottom;
    padding: 10px;
    gap: 10px;
}

.panel{
    padding-top: 10px;
    backdrop-filter: blur(10px);
    background-color: #ffffff59;
}
[for="photo"] img{
    border-radius: 50%;
}
[for="photo"]{
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-nav{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 12px;
    padding-block:10px;
    margin-inline: 10px;
    box-shadow: 5px 5px 11px #d9d9d952, -5px -5px 6px #e7e7e73a;
    transition: all 100ms;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.btn-nav:hover{
    backdrop-filter: opacity(.6);
    scale: .96;
}
.btn-nav.active{
    background-color: #a4e1f4;
    font-weight: 600;
    box-shadow: 4px 3px 12px inset #fff;
    opacity: .5;
}

ul{
    height: 100%;
}

.last-btn{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.close-account{
    background-color: #68ac6d8e;
    margin-bottom: 10px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.btn-nav:hover{
    backdrop-filter: blur(0px);
    color: #000000e5;
    font-weight: 700;
}

.panel ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Animaciones */

@keyframes growUp {
    from{
        backdrop-filter: blur(20px);
        height: 0;
    }
    to{
    backdrop-filter: blur(3px);
        height: 100%;
    }
}

#account-data > img {
    border-radius: 50%;
}

#account-data {
    display: grid;
    place-items: center;
    padding: 20px;
    gap: 12px;
}

.box-inp.username {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    height: 20px;
    padding: 15px;
    padding-inline: 10px;
    border-radius: 5px;
    border: none;
    background-color: #a19f9f91;
}
input:focus{
    outline: 2.5px solid#283618;
}

.cont{
    display: none;
    background-color: #ffffffc0;
    backdrop-filter: blur(3px);
    animation: 700ms growUp ease-out;
}

aside.cont{
    display: grid;
    background-color: #ffffffc0;
    border-radius: 10px;
    animation: 700ms growUp ease-out;
    backdrop-filter: blur(3px);
}

#dash-perfil{
    display: grid;
}

#dash-actividades{
    padding: 10px;
    gap: 10px;
    place-items: initial;
    grid-template-rows: repeat(auto-fit, 1fr);
    overflow-y: scroll;
}

#actividad{
    background-color: rgb(40, 67, 40);
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    color: white;
}

#actividad>a{
    display: block;
    width: 100%;
    padding-block: 5px;
    margin-top: 5px;
    background-color: #ff883a;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #e7650d;
    text-align: center;
}

.btn {
    background-color: var(--verde-claro);
    color: #fff;
    width: 100%;
    cursor: pointer;
    padding: 10px 5px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: all 100ms ease;
}
.btn:hover{ 
    background-color: var(--naranja-claro);
    color: #000;
    font-weight: 700;
}