body{
    background: url(/public/img/pino_3.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    color: rgb(0, 0, 0);
}

main{
   width: 730px;
    margin: 50px auto 50px;
    display: flex;
align-items: center;

}

.section1{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
}


button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight:bold ;
}
button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}